# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# bundler
/rubocop/.bundle
.bundle
.config
/rubocop/vendor/bundle
Gemfile.lock

# rbenv
.ruby-version

# jeweler generated
*.gem
pkg

# etags
TAGS

# logfiles and tempfiles.
/rubocop/log/*.log
/rubocop/tmp
.byebug_history
